<!DOCTYPE html>
<html>
<head>
        <title>Sparkling Kids</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='css/commonCSS.css'>
</head>


<body>
<div class="content">
	<div class="header">
           <div class="logo"></div>
               <nav class="navg">
					<a href="home.html"><div class="links">HOME<br>SparklingStars</div></a>
					<a href=""><div class="links">PROFILE<br>My Details</div></a>
					<a href=""><div class="links">LOG OUT<br>Sign out</div></a>
               </nav>
        </div>
        
     <div class="maincontent">        
		<img src="css/images/logo1.jpg" class="imgfullsize"/>
		<div class="imgdtls">
			<div class="textformat">Title SparlingPaintong</div>
			<div class="textformat1">By Artist Manu Jain</div>
			<div class="textformat1">Created On</div>
			<div class="textformat textformat2" >Do u want to add Comments ?</div>
			<div class="textformat">
				<form id="commentfrm">
					<div style="margin-top:15px;"><textarea name="" placeholder="Enter Comments" rows="4" cols="65"></textarea></div>
					<div style="margin-left:200px;margin-top:0px;"><input type="submit" name="" value="Add Comment" align="center"></div>
				</form>
			</div>
				<div class="textformat textformat2" style="width:210px;">Comments Received</div>
				<div class="textformat1">e-resize
					e-resizee<br><br><br><br><br><br>dedededed<br><br><br>
					eggg</div>
		</div>
	</div>
	<div class="footer">@2020</div>	
</div>
</body>
</html>