{% extends 'registration/base.html' %}
<body>
{% block bodyheader %}
<div class="maincontent">
    <div class="bkg"></div>
    <div class="loginbox">
        <h1>Welcome Back!</h1>
        <form action="{% url 'account:login' %}" method="POST">
            {{form.as_p}}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{next}}"/>
            <p><input type="submit" value="Log In"></p>
        </form>
        <a href="{% url 'account:password_reset' %}">Forgot password?</a>
    </div>
</div>
{% endblock bodyheader %}
</body>
