<!DOCTYPE html>
<html>
<head>
        <title>Sparkling Kids</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='css/commonCSS.css'>
</head>


<body>
<div class="content">
	<div class="header">
           <div class="logo"></div>
               <nav class="navg">
					<a href="home.html"><div class="links">HOME<br>SparklingStars</div></a>
					<div class="links" style="background:#DB3385; color:white">MY PAGE<br>My Creativity</div>
					<a href=""><div class="links">PROFILE<br>My Details</div></a>
					<a href=""><div class="links">LOG OUT<br>Sign out</div></a>
               </nav>
        </div>
        
     <div class="maincontent">
        <div class="browseby">
            <h2><br>&nbsp;&nbsp;Browse By</h2>
            <a href=""><div class="link1" style="background:#F5BCA8">PAINTINGS</div></a>
            <a href=""><div class="link1" style="background:#A8BBF5">STORIES</div></a>
		    <a href=""><div class="link1" style="background:#E3A8F5">USERS</div></a>
			<a href=""><div class="link1" style="background:#2ECA71">COMING<br>SOON</div></a>
        </div>             
		<div class="mydetails">
                <div class="profile"><img src="css/images/profile.png" class="profilepic"/></div>
                <div class="category">
                      
                      <a target="_blank" href="images/logo1.jpg"><div class="galleryicon"><img src="css/images/logo1.jpg" class="imgicon picdp"/><p class="painting">Title2</p></div></a>
					  <a target="_blank" href="images/logo1.jpg"><div class="galleryicon"><img src="css/images/logo1.jpg" class="imgicon picdp"/><p class="painting">Title2</p></div></a>
					  <a target="_blank" href="images/logo1.jpg"><div class="galleryicon"><img src="css/images/logo1.jpg" class="imgicon picdp"/><p class="painting">Title2</p></div></a>
                      <a target="_blank" href="images/logo1.jpg"><div class="galleryicon"><img src="css/images/logo1.jpg" class="imgicon picdp"/><p class="pain">Title2</p></div></a>
					    
				</div>
   		</div>
	</div>
<div class="footer">@2020</div>	
</div>
</body>
</html>