{% extends 'registration/base.html' %}
{% block title %} {{ pic.title }} {% endblock %}
{% load thumbnail %}

{% block bodyheader %}
    <body>
    <div class="maincontent">
        {% thumbnail pic.photo "300" as im %}
            <a href="{{ pic.photo.url }}">
                <img src="{{ im.url }}" class="imgfullsize">
            </a>
        {% endthumbnail %}
        <br>
        <div class="imgdtls">
            <div class="textformat">{{ pic.title }}</div>
            <div class="textformat1">By {{ pic.owner.first_name }} {{ pic.owner.last_name }}</div>
            {% with comments.count as total_comments %}
                <h2>
                    {{ total_comments }} comments
                </h2>
            {% endwith %}
            {% for comment in comments %}
                <div>
                    <p>
                        From: {{ comment.name }}
                        Comment: {{ comment.body }}
                        Created on: {{ comment.created }}
                    </p>
                </div>
            {% endfor %}
            {% if new_comment %}
                <h2>Your comment has been added</h2>
            {% else %}
                <div class="textformat textformat2">Do u want to add Comments ?</div>
                <div class="textformat">
                    <form action="." method="POST" id="commentfrm">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <p><input type="submit" value="Add comment"></p>
                    </form>
                </div>
            {% endif %}

            {{ pic.caption }}
            <br>
            <br>
            <br>
            {% with total_likes=pic.users_like.count users_like=pic.users_like.all %}
                <div>
            <span class="count">
                <span class="total">{{ total_likes }}</span>
                 like{{ total_likes|pluralize }}
            </span>
                    <a href="#" data-id="{{ pic.id }}"
                       data-action="{% if request.user in users_like %}un{% endif %}like"
                       class="like button">
                        {% if request.user not in users_like %}
                            Like
                        {% else %}
                            Unlike
                        {% endif %}
                    </a>
                </div>

                <div class="image-likes">
                    {% for user in pic.users_like.all %}
                        <div>
                            <img src="{{ user.profile.photo.url }}">
                            <p> {{ user.first_name }}</p>
                        </div>
                        </div>
                    {% empty %}
                        Nobody likes the image yet.
                    {% endfor %}
                {#    </div>#}
            {% endwith %}
            {#    {% with comments.count as total_comments %}#}
            {#    <h2>#}
            {#        {{total_comments}} comments#}
            {#    </h2>#}
            {#    {% endwith %}#}
            {#    {% for comment in comments %}#}
            {#    <div>#}
            {#        <p>#}
            {#            From: {{ comment.name }}#}
            {#            Comment: {{ comment.body }}#}
            {#            Created on: {{comment.created}}#}
            {#        </p>#}
            {#    </div>#}
            {#    {% endfor %}#}
            {#    {% if new_comment %}#}
            {#    <h2>Your comment has been added</h2>#}
            {#    {% else %}#}
            {#    <h2>Add a new comment</h2>#}
            {#    <form action="." method="POST">#}
            {#        {{ form.as_p }}#}
            {#        {% csrf_token %}#}
            {#        <p><input type="submit" value="Add comment"></p>#}
            {#    </form>#}
            {#    {% endif %}#}
        </div>
    </div>
    </body>
{% endblock bodyheader %}
{% block domready %}
    $('a.like').click(function(e) {
    e.preventDefault();
    $.post('{% url "photos:photo_like" %}',
    {
    id: $(this).data('id'),
    action: $(this).data('action')
    },
    function(data) {
    if (data['status'] == 'ok')
    {
    var previous_action = $('a.like').dta('action');
    $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
    $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');
    var previous_likes = parseInt($('span.count .total').text());
    $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes -1);
    }
    }
    };
    });
{% endblock %}



