{% extends 'registration/base.html' %}
{% load thumbnail %}
{% block title %} My Photos {% endblock %}
{% block bodyheader %}
<body>
     <div class="maincontent">        
		<img src="css/images/logo1.jpg" class="imgfullsize"/>
		<div class="imgdtls">
			<div class="textformat">Title SparlingPaintong</div>
			<div class="textformat1">By Artist Manu Jain</div>
			<div class="textformat1">Created On</div>
			<div class="textformat textformat2" >Do u want to add Comments ?</div>
			<div class="textformat">
				<form id="commentfrm">
					<div style="margin-top:15px;"><textarea name="" placeholder="Enter Comments" rows="4" cols="65"></textarea></div>
					<div style="margin-left:200px;margin-top:0px;"><input type="submit" name="" value="Add Comment" align="center"></div>
				</form>
			</div>
				<div class="textformat textformat2" style="width:210px;">Comments Received</div>
				<div class="textformat1">e-resize
					e-resizee<br><br><br><br><br><br>dedededed<br><br><br>
					eggg</div>
		</div>
	</div>
	<div class="footer">@2020</div>
</body>
{% endblock bodyheader %}
